.header-table {
    background: #4d4545;
    color: #ffffff;
}
.header-form {
    background: #4d4545;
    color: #ffffff;
    padding: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}